<h3>Prática de Ti-Verde</h3>
As práticas de TI Verde podem ser divididas em três níveis:

<h4> TI Verde de incrementação tática:</h4>

<p>Não modifica a infra-estrutura de TI nem as políticas internas, apenas incorpora medidas de contenção de gastos elétricos excessivos. São exemplos, o uso de monitoramento automático de energia disponível nos equipamentos, o desligamento dos mesmos nos momentos de não-uso, a utilização de lâmpadas fluorescentes ou led e a otimização da temperatura das salas. Estas medidas são simples de serem implementadas e não geram custos adicionais às empresas.</p>

<h4> TI Verde Estratégico:</h4>

<p>Exige a convocação de uma auditoria sobre a infra-estrutura de TI e seu uso relacionado ao meio-ambiente, desenvolvendo e implementando novos meios viáveis de produção de bens ou serviços de forma ecológica. São exemplos, a criação de uma nova infra-estrutura na rede elétrica visando à sua maior eficiência e sistemas computacionais de menor consumo elétrico (incluindo novas políticas internas e medidas de controle de seus descartes). Além da preocupação com a retenção de gastos elétricos, o marketing gerado pelas medidas adotadas pela marca à também levado em considerção.</p>

<h4>Deep IT (TI Verde "a fundo"):</h4>

<p>Mais amplo que os dois primeiros, incorpora o projeto e implementação estrutural de um parque tecnológico visando a maximização do desempenho com o mínimo gasto elétrico; isto inclui projetos de sistemas de refrigeração, iluminação e disposição de equipamentos no local com base nas duas primeiras estruturas anteriores (o que demanda um custo muito maior que as duas primeiras).Sendo simples a implementação do TI Verde Tático (com vantagens significativas, porém limitadas), podemos observar a redução do consumo energético com o desligamento dos monitores em desuso - que representam 50% do total dos gastos elétricos quando o mesmo é de CRT e 30% ou menos quando são de LCD (fonte: PRADO, 2005).</p>

<p>Um exemplo efetivo de práticas de TI Verde Estratégico foi implementado pelo Banco Real no o ProjetoBlade PC, aplicado em 2007: o Banco substituiu 180 computadores convencionais por 160 Blade PCs, equipamentos que possibilitam ficar na mesa do usuário apenas o teclado, o mouse, o monitor e uma pequena caixa responsável pela conexão destes periféricos com o Blade PC. Como resultado, houve redução estimada de 62% da energia elétrica consumida pelos computadores e 50% da energia consumida pelo ar condicionado utilizado na Mesa de Operações; a economia estimada é de US$ 355 mil em 4 anos pela redução do número de micros; a manutenção mais barata dos mesmos, o gerenciamento centralizado e a facilidade de mudança de layout representam uma estimativa de economia de US$ 300 mil em 4 anos (fonte: YURI, 2008).</p>

No nível mais radical, o Deep IT, temos como exemplos as seguintes empresas:

  <p> Google: pratica ações que incluem desde o planejamento de seu datacenter à locomoção dos funcionários com veículos híbridos e o consumo de energia alternativa como a solar;</p>

  <p>Yahoo: com plano ambiental agressivo que inclui desde a construção de datacenters com produçãoo de acordo com as normas e exigências ambientais, o uso da virtualização de servidores, a gestão do consumo elétrico gerado pelo resfriamento de seus equipamentos até a extensão de medidas para o cotidiano dos funcionários.</p>
