<h3>Ti-Verde nas empresas</h3>
<p>Atualmente, existem alguns pontos em que se concentram as ações de TI Verde quando se trata do mundo corporativo: este foco, normalmente, é em função do resultado que se espera com o emprego das medidas e ações "verdes".</p>

<p>Um conjunto de práticas nos trás níveis torna-se interessante para empresas, pois a aplicação de ações de TI Verde traz a redução de custos com energia elétrica como também as iniciativas de responsabilidade sócio-ambiental da instituição. Assim podem-se agrupar as ações em virtude destes resultados:</p>

<ul>
  <li>  Redução do consumo de energia e das emissões de carbono;</li>
  <li>  Atualização de sistema operacional e hardware: O desenvolvimento de projetos de atualização do parque de estações de trabalho pelas empresas tanto em termos de hardware como software são, hoje, os principais pontos de atuação que visam tanto a redução do consumo energético quanto a redução das emissões de carbono;</li>
  <li>  Virtualização de Servidores: utilização de software que "emula" uma máquina virtual como um servidor físico, criando assim, um ambiente isolado e independente da máquina "real". Deste modo, uma máquina física, dentro de sua capacidade de desempenho pode "hospedar" diversas máquinas virtuais independentes. (fonte: Microsoft &copy;, Virtualization).</li>
</ul>

<p class="quote">A utilização otimizada dos equipamentos físicos fornece a manutenção da ocupação física na empresa somada é expansão do desempenho, reduzindo assim as "pegadas ecológicas" que poderiam ser causadas pela aquisição de novos equipamentos como o aumento do espaço necessário e a energia correspondente para a sua refrigeração. Em termos de descarte de equipamentos, a virtualização auxilia na redução da contaminação ambiental ao substituir os equipamentos físicos com máquinas lógicas. (fonte: LYNCH, 2009).</p>

<p>Os Sistemas de Gestão Empresarial, conhecidos como ERP (Enterprise Resource Planning), são sistemas de informação que integram todos os dados de uma empresa, possibilitando a automação de todas as informações do negócio. As implantações de sistemas ERP reduzem custos, aperfeiçoam o fluxo de informação e o processo de gerenciamento (fonte: Wikipedia, ERP). Assim, com a redução dos riscos e oferecendo recursos que reduzem desperdícios na indústria, têm-se resultados diretamente ligados à sustentabilidade.</p>

<p class="quote"> A Microsoft &copy; lançou um produto nesta linha que tem por idéia mensurar o impacto ambiental que as atividades de uma empresa causam, focando em especial o consumo de energia. Com estas informações, a empresa pode atuar nos pontos específicos e consequentemente reduzir tanto o consumo de energia como a emissão de gases de efeito estufa (fonte: ZMOGINSKI, 2009).</p>

<h4>Infraestrutura e conservação energética</h4>

<p class="quote">No esforço conjunto dos profissionais da área de TI, a infra-estrutura empresarial torna-se cada vez mais o foco de ação principal para a redução do consumo de energia e otimização da tecnologia. O vice-presidente de eco-responsabilidade da Sun Microsystems, Dave Douglas, considera os 10 passos seguintes para que um datacenter seja sustentável e com eficiência financeira. (fonte: CIOInsight, 2006):</p>

<ul>
  <li> Avaliar o consumo e eficiência energética;</li>
  <li> Redesenhar o sistema de resfriamento;</li>
  <li> Reconsiderar redundâncias;</li>
  <li> Utilizar equipamentos ajustáveis em espaço e energia;</li>
  <li> Virtualizar "storage" e servidores;</li>
  <li> Utilizar dispositivos "Energy Star" ou com outros "selos verdes";</li>
  <li> Doar ou reciclar servidores em desuso;</li>
  <li> Verificar a infra-estrutura predial;</li>
  <li> Pesquisar fontes alternativas de energia;</li>
  <li> Envolver a gerência no processo.</li>
</ul>
