@mixin font-face($family , $name , $folder, $style: normal, $weigth: normal , $path: "./assets/font"){
  @font-face{
    font-family: $family;

    src: url("#{$path}/#{$folder}/#{$name}.ttf") format('truetype'),
    url("#{$path}/#{$folder}/#{$name}.woff2") format('woff2'),
    url("#{$path}/font/#{$folder}/#{$name}.eot") format('embedded-opentype');

    font-style: $style;
    font-weight: $weigth;
  }
}
